
.box{
    width: 400px;
    height: 400px;
    background-color: greenyellow;
    position: absolute;
    margin: auto;
  }
.box::after{
    content: '';
    width: 400px;
    height: 400px;
    background-color: rgb(81, 190, 233);
    position: absolute;
    transform: translateX(100%);    
}
