.parent{
    height:400px;
    width:400px;
   /* display: block;*/
    background-color:rgb(49, 167, 235);
    position:absolute;
    margin: auto;
   
  }
  .parent::after{
      content:'';
      position:absolute;
      height:400px;
      width:400px;
      background-color:rgb(68, 221, 145);
    }

    .parent:hover::after{
        content:'';
        position:absolute;
        height:400px;
        width:200px;
        background-color:rgb(233, 27, 54);
    }