[data-tooltip]{
    position: relative;
    cursor: default;
}

.hover{
    color: rgb(61, 226, 226);
}
[data-tooltip]::after{
    position: absolute;
    width: 140px;
    left:50%;
    bottom: 125%;
    text-align: center;
    box-sizing: content-box;
    content: attr(data-tooltip);
    color: #ffffff;
    background-color: rgb(128, 128, 123);
    padding: 7px;
    border-radius: 10px;
    font-size: 12px;
    font-weight: bold;
    visibility: hidden;
    opacity: 0;
    transform: translateY(10px);
    transition: opacity 0.3s, transform 0.2s;
}

[data-tooltip]:hover::after{
    box-sizing: content-box;
    opacity: 1;
    visibility: visible;
    transform: translateY();
}
